* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #020202;
    height: 100dvh;
    width: 100dvw;
}

.saturn-container {
    position: fixed;
    width: 80%;
    height: 80%;
    overflow: hidden;
    top: 5%;
    left: 40%;
    border-radius: 0%;
}

#saturn, #isiSaturn {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 1;
    /* background: linear-gradient(20deg, #e38175, #faa892, #faa892); */
    background: rgb(22,19,77);
    background: linear-gradient(-20deg, rgba(22,19,77,1) 0%, rgba(191,80,168,1) 48%, rgba(0,212,255,1) 100%);
}

#isiSaturn {
    /* background: linear-gradient(20deg, transparent 45%, #faa892, #e38175, #e38175); */
    background: linear-gradient(-20deg, transparent 45%, rgba(191,80,168,1) 48%, rgba(0,212,255,1) 100%);
    z-index: 3;
}

#asteroid {
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    border: 3px solid #ffd0e2;
    border-right: 3px solid transparent;
    z-index: 2;
    animation: animasiAsteroid 5s linear infinite;
}

#asteroid, div {
    position: absolute;
    background-color: transparent;
    transform-style: preserve-3d;
    border-radius: 50%;
}

#ast1 {
    border: 3px solid #ffd0e2;
    border-top: 3px solid transparent;
    opacity: 0.6;
    left: -5px;
    top: -5px;
    width: 310px;
    height: 310px;
    animation: animasiAsteroid2 24s linear infinite;
}

#ast2 {
    border: 3px solid #ffd0e2;
    border-left: 3px solid transparent;
    opacity: 0.6;
    left: -10px;
    top: -10px;
    width: 320px;
    height: 320px;
    animation: animasiAsteroid2 11s linear infinite;
}

#ast3 {
    border: 3px solid #ffd0e2;
    border-bottom: 3px solid transparent;
    opacity: 0.7;
    left: -15px;
    top: -15px;
    width: 330px;
    height: 330px;
    animation: animasiAsteroid2 17s linear infinite;
}

#ast4 {
    border: 3px solid #ffd0e2;
    border-right: 3px solid transparent;
    opacity: 0.6;
    left: -20px;
    top: -20px;
    width: 340px;
    height: 340px;
    animation: animasiAsteroid2 10s linear infinite;
}

#ast5 {
    border: 3px solid #ffd0e2;
    border-top: 3px solid transparent;
    opacity: 0.7;
    left: -25px;
    top: -25px;
    width: 350px;
    height: 350px;
    animation: animasiAsteroid2 18s linear infinite;
}

#ast6 {
    border: 3px solid #ffd0e2;
    border-left: 3px solid transparent;
    opacity: 0.6;
    left: -30px;
    top: -30px;
    width: 360px;
    height: 360px;
    animation: animasiAsteroid2 16s linear infinite;
}

#ast7 {
    border: 3px solid #ffd0e2;
    border-bottom: 3px solid transparent;
    opacity: 0.6;
    left: -35px;
    top: -35px;
    width: 370px;
    height: 370px;
    animation: animasiAsteroid2 14s linear infinite;
}

#ast8 {
    border: 3px solid #ffd0e2;
    border-right: 3px solid transparent;
    opacity: 0.8;
    left: -40px;
    top: -40px;
    width: 380px;
    height: 380px;
    animation: animasiAsteroid2 22s linear infinite;
}

#ast9 {
    border: 3px solid #ffd0e2;
    border-top: 3px solid transparent;
    opacity: 0.5;
    left: -63px;
    top: -63px;
    width: 426px;
    height: 426px;
    animation: animasiAsteroid2 22s linear infinite;
}

#ast10 {
    border: 3px solid #ffd0e2;
    border-right: 3px solid transparent;
    opacity: 0.6;
    left: -70px;
    top: -70px;
    width: 440px;
    height: 440px;
    animation: animasiAsteroid2 22s linear infinite;
}

#ast11 {
    border: 3px solid #ffd0e2;
    border-left: 3px solid transparent;
    opacity: 0.6;
    left: -77px;
    top: -77px;
    width: 454px;
    height: 454px;
    animation: animasiAsteroid2 21s linear infinite;
}

#ast12 {
    border: 3px solid #ffd0e2;
    border-bottom: 3px solid transparent;
    opacity: 0.7;
    left: -84px;
    top: -84px;
    width: 468px;
    height: 468px;
    animation: animasiAsteroid2 12s linear infinite;
}

#ast13 {
    border: 3px solid #ffd0e2;
    border-left: 3px solid transparent;
    opacity: 0.7;
    left: -91px;
    top: -91px;
    width: 482px;
    height: 482px;
    animation: animasiAsteroid2 17s linear infinite;
}

#ast14 {
    border: 3px solid #ffd0e2;
    border-top: 3px solid transparent;
    opacity: 0.7;
    left: -98px;
    top: -98px;
    width: 496px;
    height: 496px;
    animation: animasiAsteroid2 17s linear infinite;
}

@keyframes animasiAsteroid {
    0% {
        transform: rotateX(-75deg) rotateY(20deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(-75deg) rotateY(20deg) rotateZ(360deg);
    }
}

@keyframes animasiAsteroid1 {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
    }
    50% {
        transform: rotateX(7deg) rotateY(7deg) rotateZ(360deg);
    }

    100% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
    }
}


.jupiter, .isiJupiter {
    /* position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    rotate: -85deg;
    box-shadow: inset 0 0 40px rgba(45, 122, 122, 0.801);
    top: 10vh;
    left: 32vw;
    z-index: 1;/
    background-size: cover;
    transform: translate(-10%, 0%); */
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%) rotate(-85deg);
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: 1;
    /* background: linear-gradient(20deg, #e38175, #faa892, #faa892); */
    background: rgb(22,19,77);
    background: linear-gradient(90deg, rgba(255,218,83,1) 0%, rgba(230,170,95,1) 6%, rgba(191,121,63,1) 12%, rgba(181,155,87,1) 18%, rgba(180,125,70,1) 23%, rgba(190,162,58,1) 35%, rgba(175,110,45,1) 43%, rgba(143,113,69,1) 52%, rgba(171,163,51,1) 59%, rgba(212,176,134,1) 67%, rgba(190,146,80,1) 74%, rgba(171,131,62,1) 81%, rgba(195,161,86,1) 88%, rgba(198,170,89,1) 93%, rgba(255,218,83,1) 100%);
}

.isiJupiter1 {
    background: linear-gradient(90deg, rgba(255,218,83,1) 0%, rgba(230,170,95,1) 6%, rgba(191,121,63,1) 12%, rgba(181,155,87,1) 18%, rgba(180,125,70,1) 23%, rgba(190,162,58,1) 35%, rgba(175,110,45,1) 43%, rgba(143,113,69,1) 52%, rgba(171,163,51,1) 59%, rgba(212,176,134,1) 67%, rgba(190,146,80,1) 74%, rgba(171,131,62,1) 81%, rgba(195,161,86,1) 88%, rgba(198,170,89,1) 93%, rgba(255,218,83,1) 100%);
    rotate: -85deg;
    /* z-index: 3; */
}

.jupiter-container {
    position: fixed;
    width: 80%;
    height: 80%;
    /* overflow: hidden; */
    top: 40%;
    left: 5%;
    animation: animasiJupiter 20s linear infinite;
    border-radius: 0%;
}

@keyframes animasiJupiter {
    
}

.axis1 {
    height: 700px;
    width: 700px;
    border: 5px solid #fff;
    border-radius: 50%;
    left: -200px;
    top: -200px;
    margin: auto;
}

.axis1 .moon {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    top: 85px;
    left: 95px;
    transform: rotateX(90deg);
    transition: none;
}

@keyframes axis {
    0% {
        transform: rotateX(73deg) rotateY(5deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(73deg) rotateY(5deg) rotateZ(360deg);
    }
}

#axis {
    position: absolute;
    top: 70px;
    left: 100px;
    right: 100px;
    margin: auto;
    width: 300px;
    height: 300px;
    z-index: 2;
    animation: axis 15s linear infinite;
}

.sun-container {
    width: 20vw;
    height: 20vw;
    border-radius: 0%;
}

.sun {
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
    background-color: #ffaa0e;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 150px rgba(255, 42, 14, 0.801);
}

.dot1 {
    border-radius: 50%;
    width: 43vw;
    height: 43vw;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 150px rgba(255, 42, 14, 0.801);
}

.dot2 {
    border-radius: 50%;
    width: 46vw;
    height: 46vw;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 50px rgba(252, 73, 19, 0.801);
}

.dot3 {
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    transform: translate(17%, 65%);
    box-shadow: inset 0 0 25px rgba(255, 211, 29, 0.81);
}

.dot4 {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    transform: translate(85%, 180%);
    box-shadow: inset 0 0 25px rgba(236, 226, 184, 0.801);
}

.dot5 {
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    background: #fff995;
    transform: translate(155%, 295%);
}

.dot6 {
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
    box-shadow: inset 0 0px 85px rgba(238, 119, 113, 0.801);
    transform: translate(-50%, -50%);
}

.dot7 {
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    transform: translate(280%, 15%);
    box-shadow: inset 0 0 25px rgba(255, 211, 29, 0.81);
}

.dot8 {
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    transform: translate(615%, 80%);
    box-shadow: inset 0 0 25px rgba(236, 226, 184, 0.801);
}

.dot9{
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    background: #fff995;
    transform: translate(1280%, 210%);
}

.dot10 {
    border-radius: 50%;
    width: 0.5vw;
    height: 0.5vw;
    background: #fc7b0f;
    transform: translate(1280%, 210%);
}

.dot11 {
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    background: #fc7b0f;
    transform: translate(900%, 210%);
}

.dot12 {
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    background: #fc7b0f;
    transform: translate(300%, 490%);
}

.sun-corona{
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
    transform: translate(-50%, -50%);
    box-shadow: 0 5rem 9rem #ff4b02
}